{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Index</title>
{#  Main HomePage contain links for login and registration #}
{% block content %}
<body background = "https://images.pexels.com/photos/12178646/pexels-photo-12178646.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" text = "white" >
<center>
    <h1><B>...CloudOps Chat application...</B></h1><br><br>
    <h2><u>...by Aniket...<u></h2>
    <button class="button" style="vertical-align:middle"><span><a href="{% url 'sign_in' %}">Login</a></span></button><br>
    <h3 style="background-color:cyan"><a href="{% url 'signup' %}">Click Here to register!</a></h3><br><br>
    <img src = "https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&w=600" width ="300" height= "200" alt="image">
    </center>
</center>>
{% endblock %}
